<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- <string>https://fs2.ca.gov.vn/api/get/1cbb46ef-aef7-4438-a7ad-73a1d9e781b6-1710731617570</string> -->
					<string>https://github.com/minhtamdz/web/raw/refs/heads/main/vgcampki.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>vn.vgca.tse.client</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>VGCA MPKI</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
